<h1>New album</h1>
<%= form_for @album do |a| %>
	<%= a.label 'Description'%>
	<%= a.text_field :description %>
	<br/>
	<%= a.label 'Title' %>
	<%= a.text_field :title %>
	<br/>
	<%= a.submit %>
<% end %>


